*.war
.classpath
.idea
.project
*.iml
*.ipr
*.iws
*.out
CodeNarcReport.html
cobertura.ser
out/
*/tld/*
*.log
*.class
web-app/repositories/
web-app/logs/*

#target
target
target/css
target/images
target/js
target/META-INF
target/plugins
target/WEB-INF
target/work
target/versionInfo.txt
target/classes

.settings
target-eclipse

data/

web-app/WEB-INF/tld/
wrapper/

